/* classi */
.banner {
    background-color: rgb(32, 144, 196);
    background-image: url('../img/pattern.png');
    background-repeat: repeat;
    padding-top: 60px;
    padding-left: 15px;
}

.evidenziato{
    background-color: yellow;
}

/* tags */
body {
    font-size: 15px;
    font-style: Arial; 
}

a{
    text-decoration: none;
}